@import 'variables';

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: brandon-grotesque, sans-serif;
}

button {
  display: flex;
  font-size: 18px;
  color: white;
  margin: 30px 0 50px;
  padding: 10px 70px;
  background-color: $color-primary;
  min-width: fit-content;
  height: 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #f18e7d;
  }
  &:disabled {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.03);
    cursor: none;
  }
}

label, input {
  display: block;
  width: 100%;
}
label {
  margin: 10px 0;
  color: gray;
}
input {
  padding: 10px;
  color: lightgray;
  border: solid 1px rgba(207, 206, 207, 0.37);
  border-radius: 5px;
}

footer {
  max-height: 50px;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  background-color: $color-primary;
}