@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 18px 40px;
}

.main {
  min-height: calc(100vh - 89px - 50px);
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/rpc-bg.jpg);
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
}

.sign_up_wrapper {
  min-width: 100%;
  min-height: 100%;
  box-shadow: none;
  border: 1px solid #eee;
  border-radius: 0;    
  background-color: white;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and ($breakpoint-tablet) {
    & {
      min-width: 630px;
      padding: 10px 115px 0;
      border-radius: 5px;
      box-shadow: 30px 30px 60px 0 rgba(74, 74, 74, 0.25);
    }
  }
}

.form_fields_wrapper {
  width: 100%;
  padding: 20px 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}