@import 'variables';

.margin_5 {
    margin: 5px;
}
.button_small {
    margin: 0;
    padding: 10px 25px;  
}
// FONT & TEXT
.text_under_input {
    align-self: flex-end;
    text-align: right;
    margin: 0;
    color: lightgray;
}
.font_color_alert {
    color: $font-color-alert;
}